<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.4.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
    
  <system.web>

    <membership defaultProvider="SqlMembershipProvider" 
                userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="SqlMembershipProvider" 
             type="System.Web.Security.SqlMembershipProvider" 
             connectionStringName="AspNetDbProvider" 
             applicationName="MVCMusicStoreWeb" 
             enablePasswordRetrieval="false" 
             enablePasswordReset="false" 
             requiresQuestionAndAnswer="false" 
             requiresUniqueEmail="true" 
             passwordFormat="Hashed"/>
      </providers>
    </membership>
    <roleManager enabled="true" 
                 defaultProvider="SqlRoleProvider">
      <providers>
        <add name="SqlRoleProvider" 
             type="System.Web.Security.SqlRoleProvider" 
             connectionStringName="AspNetDbProvider" 
             applicationName="MVCMusicStoreWeb"/>
      </providers>
    </roleManager>

    <!-- shared machine key so we can share forms auth stuff -->
    <machineKey validationKey="E9D17A5F58DE897D9161BB8D9AA995C59102AEF75F0744183F1E6F67737D3EEBB649BA4F1622CD52ABF2EAE35F9C26D331AFA5FC9EAE7F59A19F380E216C20F7" 
                decryptionKey="D6F541F6E75BB7684FD96E9D3E694AB01E194AF6C9049F65" 
                validation="SHA1"/>
    
    <compilation debug="true" targetFramework="4.0">
       <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.1, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies> 

    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880"/>
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="MusicStoreEntities" 
         connectionString="{ef_dev_connection_string}" 
         providerName="System.Data.SqlClient"/>
    <add name="AspNetDbProvider" 
         connectionString="{aspnet_dev_connection_string}" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>  
</configuration>